<% layout('layouts/app') %>
<h1>All Places</h1>
<a href="/places/create">Add Place</a>
<ul>
  <% places.forEach(place => { %>
  <li><a href="/places/<%= place._id %>"><%= place.title %></a></li>
  <% }) %>
</ul>
