<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yelp Places</title>
  </head>
  <body>
    <h1>All Places</h1>
    <ul>
      <% places.forEach(place => { %>
      <li><%= place.title %></li>
      <% }) %>
    </ul>
  </body>
</html>
